<h1>Switch Case</h1>
<button (click)="handleColor('red')">Red</button>
<button (click)="handleColor('green')">Green</button>
<button (click)="handleColor('purple')">purple</button>
<button (click)="handleColor('blue')">Blue</button>
<button (click)="handleColor('gold')">Gold</button>
<input type="text" placeholder="Enter color" (input)="changeColor($event)" />

@switch (color) {
    @case ('red') {
        <h1 style="background-color: red;">Red Color</h1>
    }
    @case ('green') {
        <h1 style="background-color: green;">Green Color</h1>
    }
    @case ('purple') {
        <h1 style="background-color: purple;">Purple Color</h1>
    }
    @case ('blue') {
        <h1 style="background-color: blue;">Blue Color</h1>
    }
    @default {
        <h1 style="background-color: black; color: aliceblue;">NO color match</h1>
    }
}