<h1>If Else | Control Panel</h1>

<!-- @if(x<30) {
<div style="width: 200px; height: 200px; background-color: green;">

</div>
} -->

<button (click)="hide()">Hide Div</button>
<button (click)="show()">Show Div</button>
<button (click)="toggle()">Toggle Div</button>

@if(display) {
    <div style="width: 200px; height: 200px; background-color: green;"></div>
}

<hr>

<button (click)="toggleTwo()">{{
    toggleDiv ? 'show red div' : 'show gold div'    
    }}</button>

@if(toggleDiv) {
    <div style="background-color: gold; width: 200px; height: 200px;">
    </div>
}
@else {
    <div style="background-color: red; width: 200px; height: 200px;">
    </div>
}